body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
    margin: 0;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 140px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.card {
    background: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.file-section {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.clear-btn {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.clear-btn:hover {
    background: #e60000;
}


.high { color: red; font-weight: bold; }
.medium { color: orange; font-weight: bold; }
.low { color: green; font-weight: bold; }

.highlight {
    border-left: 6px solid green;
    background: #eaffea;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    textarea {
        height: 120px;
    }
}