<!DOCTYPE html>
<html>
<head>
    <title>AI Risk Analyzer</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <h1>AI Risk & Decision Analysis</h1>

        
        <button onclick="startVoice()">🎤 Speak</button><br><br>
        <textarea id="inputText" placeholder="Paste your content here..."></textarea>
        <input type="file" id="fileInput">
        <button class="clear-btn" onclick="clearFile()">X Remove</button><br>

        <button onclick="analyze()">Analyze</button>

        <div id="result"></div>
    </div>

    <script src="/static/script.js"></script>

</body>
</html>